<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Flipzone - Register</title>
</head>
<body>
<div>
   <h1>Register</h1>
    
    <form action="">
    Name:<input type="text"  name="name" ><br>
    Email:<input type="email" name="email"><br>
    Mobile:<input type="tel" name="mobile" pattern="[0-9]{10}"><br>
    Address:<textarea row="5"  cols="30"  name="address"></textarea>
    <br>
    <button>Register</button>
    </form>
    
    <a herf="/login">
    <button>Already register click to login</button>
    </a>
</div>

</body>
</html>